.anim_section{
  padding: 10px;
  border: 2px solid #0099FF;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 13px;
}

.settings_section{
  padding: 10px;
  border: 2px solid #0099FF;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 13px;
}


